
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

section{
    background-image: url('C:/Users/danit/Desktop/Green Fox/0/myFirstWebsite/assets/Line.png');
    background-position: center;
    background-size: auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    align-items: center;
    background-color: #333333;
    height: 10px;
}

.aperture-logo{
    width: 50px;
    height: 50px;
}

.link-list ul{
    list-style: none;
    display: flex;
}

.link-list li a{
    padding: 0 12px;
    font-size: 24px;
    color: #ff0099; 
}

.text{
    padding: 0 10%;
}

.name{
    font-size: 55px;
    padding: 60px 0;
}

.about-me{
    font-size: 36px;
    padding-bottom: 30px;
    color: #ff0099;
}

.about-me-text{
    font-size: 20px;
    line-height: 1.5em;
    padding-bottom: 35px;
}

svg{
    height: 70px;
    width: 150px;
}

.dash{
    stroke: black;
    stroke-dasharray: 25;
}

.homework{
    font-size: 36px;
    padding-bottom: 10px;
}

li{
    list-style: none;
    font-size: 20px;
    padding: 3px 0;
}